@model Student
@{
    ViewData["Title"] = "Edit Student";
    var errorMessage = TempData["errorMessage"]?.ToString();
}
<h3>@ViewData["Title"]</h3>
<hr />
@if (!string.IsNullOrWhiteSpace(errorMessage))
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@errorMessage
    </div>
}

    <form method="post" asp-action="Edit" asp-controller="Category" autocomplete="off">
        <div class="form-group">
            <label asp-for="Id"></label>
            <input asp-for="Id" class="form-control" readonly/>
        </div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Age"></label>
            <input asp-for="Age" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Standard"></label>
            <input asp-for="Standard" class="form-control" />
        </div>
        <br/>
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </form>

