@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*@Html.TextBox("name", "", new {style = "color:red" , title = "Please enter your name"})
  <h3>@DateTime.Now.ToString("dd-m-yy")</h3>
    <h2>@(10+2099)</h2>
    @{
        int a = 10;
        int b = 100;
        int c = a + b;
    }
    <h2>@c</h2>
    <h2>maithrikarasodi@gmail.com</h2>*@
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
